---
import Layout from "../layouts/Layout.astro"
import SectionTitle from "../components/SectionTitle.astro"
---
<Layout>
    <main transition:animate="slide" class="flex flex-col items-center justify-center h-screen space-y-4 z-0" id="">
        <img src="/logo.jpeg" alt="Logo de Energy and Water" class="size-36 rounded-full">
        <SectionTitle title="Contáctanos"/>
        <form action="" id="form" method="post" class="flex flex-col justify-start pt-10 space-y-2">
            <div class="flex flex-col">
                <label class="text-stone-200 font-bold">Nombre completo</label>
                <input type="text" id="text-input-name" placeholder="Ingrese su nombre completo" class="rounded-lg p-2"> 
            </div>
            <!-- select con cada uno de los servicios a seleccionar-->
            <div class="flex flex-col">
                <label class="text-stone-200 font-bold">Servicio a consultar</label>
                <select name="Servicios" id="services" class="services rounded-lg p-2"> 
                    <option value="Consultoría digital">Consultoría digital</option>
                    <option value="Soluciones multiexperiencia">Soluciones multiexperiencia</option>
                    <option value="Evolución de ecosistemas">Evolución de ecosistemas</option>
                    <option value="Soluciones Low-Code">Soluciones Low-Code</option>
                </select>
            </div>
            <div class="flex flex-col">
                <label class="text-stone-200 font-bold">Mensaje</label>
                <!-- <input type="text" class="text-input-message" id="message"> -->
                <textarea name="" id="text-input-message" class="text-input-message rounded-lg p-2" cols="34" rows="5" placeholder="Ingrese su mensaje"></textarea>
            </div>
            <input type="submit" id="button-send-form" class="button-send-form" value="Enviar">
        </form>
    </main>
</Layout>