---
import "@fontsource-variable/onest";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Inicio">
	<main class="space-y-24 pt-24 ">
		<!--Sección de la imagen principal junto con los textos -->
		<section class="flex flex-col justify-center items-center">
			<img src="/logo.jpeg" alt="Imagen del home el cual muestra a hombres haciendo mantenimiento de aire acondicionado">
			<div class="text-center pt-4">
				<h1 class="text-white text-2xl sm:text-3xl font-extrabold shadow-primary">Mantenimiento para edificios</h1>
				<h3 class="text-gray-200 text-lg sm:text-xl font-bold">CLIMATIZACIÓN, ELECTRICIDAD Y OBRAS MENORES DE CONSTRUCCIÓN.</h3>
			</div>
		</section>

		<section class="flex flex-col items-center pt-16">
			<h2 class="text-lg text-red-600 font-bold">Mantenimiento</h2>
			<p class="text-gray-300">Conjunto de operaciones y cuidados necesarios para que tus instalaciones continúen funcionando correctamente.</p>
		</section>
	</main>
</Layout>

<style>
	* {
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	img { 
		width: 25%;
		border-radius: 100%;
	}
	/*
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	} */
</style>
