---
import { getServices } from "../api/services"
import "@fontsource-variable/onest"
import Layout from '../layouts/Layout.astro'
import MainteinanceCard from '../components/MainteinanceCard.astro'

let services = []
//Array de objetos que contienen la información que se le pasará a cada MaintainceCard
const mainteinances = [
	{
		title: "Mantenimiento",
		description: "Conjunto de operaciones y cuidados necesarios para que tus instalaciones continúen funcionando correctamente."
	}, 
	{
		title: "Mantenimiento preventivo",
		description: "Ayuda a prolongar la vida útil de tus activos y aumenta la productividad, a través de una revisión."
	}, 
	{
		title: "Mantenimiento correctivo",
		description: "Corrige problemas o daños en las instalaciones o equipos."
	}
] 

//Obteniendo los servicios de la API
async function loadServices() {
  try {
    services = await getServices('http://localhost/energyandwater/controller/ServicesController.php');
	console.log(services)
  } catch (error) {
    console.error('Error al obtener los servicios:', error);
  } 
}

await loadServices();
---

<Layout title="Inicio - Energy & Water" desciption="Energy & Water - Mantenimiento para edificios">
	<main class="space-y-24 pt-24 px-8">
		<!--Sección de la imagen principal junto con los textos -->
		<section class="flex flex-col justify-center items-center">
			<img src="/logo.jpeg" alt="Imagen del home el cual muestra a hombres haciendo mantenimiento de aire acondicionado">
			<div class="text-center pt-4">
				<h1 class="text-white text-2xl sm:text-3xl font-extrabold shadow-primary">Mantenimiento para edificios</h1>
				<h3 class="text-gray-200 text-lg sm:text-xl font-bold">CLIMATIZACIÓN, ELECTRICIDAD Y OBRAS MENORES DE CONSTRUCCIÓN.</h3>
			</div>
		</section>

		<!--Sección de mantenimiento -->
		<section class="flex flex-row space-x-4 text-center">
			{//Iterando el arreglo de mainteinances para transformar cada uno de sus objetos en una MaintainanceCard
				mainteinances.map((mainteinance) => (
					<MainteinanceCard title={mainteinance.title} description={mainteinance.description}/>
				))
			}
		</section>
		
		<section>
			{services.map((service) => (
			  <div>
				<h2>{service.vch_service_name}</h2>
				<p>{service.vch_description}</p>
			  </div>
			))}
		</section>
		  
	</main>
</Layout>

<style>
	* {
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	img { 
		width: 25%;
		border-radius: 100%;
	}
</style>
