---
//Iconos
import CrossIcon from "../../public/icons/CrossIcon.astro"
import CheckIcon from "../../public/icons/CheckIcon.astro"

//Componentes
import SectionTitle from "./SectionTitle.astro"

import { getServices } from "../api/services"


//Este array almacena los servicios a renderizar en el html
let services = []

/**
*	Obteniendo los servicios de la API y guardándolos en el array de services para luego mostrarlos
*/
const loadServices = async () => {
  try {
    services = await getServices('http://localhost/energyandwater/controller/ServicesController.php');
  } catch (error) {
    console.error(error)
  } 
}

await loadServices()
---

<section id="formSectionContainer" class="bg-slate-950/20 content-center hidden fixed h-screen top-0 bottom-0 left-0 right-0 space-y-4 z-40 backdrop-blur-lg">
    <div id="fullFrom" class="bg-slate-950/95 transition-all ease-in-out duration-150 translate-y-full flex flex-col items-center shadow-md shadow-black p-6 m-auto rounded-xl max-w-[700px] ">
        <!--Botón de cierre -->
        <button id="closeButton" class="self-end rounded-lg transition-all p-1 hover:scale-110 hover:bg-red-600/40">
            <CrossIcon class="text-stone-200 size-8"/>
        </button>
        <img src="/logo.jpeg" alt="Logo de Energy and Water" class="size-32 mb-5 object-fill rounded-full">
        <SectionTitle title="Contáctanos"/>
    
        <!-- Inicio del formulario como tal -->
        <form action="" id="form" method="post" class="flex flex-col justify-start pt-10 space-y-4 w-full">
            <!--Campo del nombre -->
            <div class="flex flex-col">
                <label class="text-stone-300 font-bold">Nombre completo</label>
                <input type="text" id="fullName" placeholder="Ingrese su nombre completo" class="text-stone-400 rounded-lg p-2 bg-slate-900/20 backdrop-blur-sm border border-slate-900/40 border-0.5"> 
                <label id="nameError" class="text-red-900 text-xs">El nombre no puede estar vacío</label>
            </div>

            <div class="flex flex-col">
                <label class="text-stone-300 font-bold">Correo electrónico</label>
                <input type="email" id="email" placeholder="Ingrese su correo electrónico" class="text-stone-400 rounded-lg p-2 bg-slate-900/20 backdrop-blur-sm border border-slate-900/40 border-0.5"> 
                <label id="emailError" class="text-red-900 text-sm">El correo electrónico no puede estar vacío</label>
            </div>
    
            <!-- select con cada uno de los servicios a seleccionar-->
            <div class="flex flex-col">
                <label class="text-stone-300 font-bold">Servicio a consultar</label>
                <select name="Servicios" id="selectServices" class="text-stone-400 rounded-lg p-2 bg-slate-900/20 backdrop-blur-sm border border-slate-900/40 border-0.5">
                    <!--Cargando los servicios desde la API-->
                    {services.map((service) => (
                        <option value={service.vch_service_name} >{service.vch_service_name}</option>
                    ))}
                </select>
            </div>
    
            <div class="flex flex-col">
                <label class="text-stone-300 font-bold">Mensaje</label>
                <textarea name="" id="message" class="text-stone-400 rounded-lg p-2 bg-slate-900/20 backdrop-blur-sm border border-slate-900/40 border-0.5" cols="34" rows="5" placeholder="Ingrese su mensaje indicando su pregunta"></textarea>
                <label id="messageError" class="text-red-900 text-sm">El campo de mensaje no puede estar vacío</label>
            </div>
    
            <input type="submit" id="sendForm" value="Enviar formulario de contacto" class="hidden bg-red-600/30 hover:bg-red-600/60 shadow-sm shadow-black backdrop-blur-md text-stone-300 rounded-xl py-3 md:py-3 mx-6 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
        </form>

        <div id="formSubmittedPopUp" class="transition hidden bg-slate-950/95 shadow-md shadow-black backdrop-blur-md rounded-xl -translate-y-96 mx-4 content-center p-4"> 
            <div class="flex flex-col items-center py-4">
                <h2 class="text-lg text-white font-bold">Mensaje enviado satisfactoriamente</h2>
                <CheckIcon class="text-green-700 size-11"/>
            </div>
        </div>
    </div>
</section>

<!-- 
    Profe, no sé si usted ha usado Astro, pero aquí quiero explicarle que el script de abajo es porque Astro por defecto intenta usar el mínimo
    JS posible del lado del cliente. Todo el JS del lado del servidor es el que está al inicio de documento entre los '---', y eso hace que los elementos no puedan ser modificados por el cliente.
    Ahora, si queremos agregar que los elementos cambien en el cliente podemos usar las 'Islas' que es todo lo que está en <script> (También se podrían usar otros frameworks para agregar reactividad a esto,
        como Preact, React, Vue, svelte, etc. Ya que Astro es agnóstico a la UI)
-->
<script>
    //Importa el átomo que contiene el estado para abrir o cerrar los formularios
    import { isContctUsFormOpen } from '../store.js';

    //Referencias de los elementos del DOM con relación a ocultar el formulario
    const formSectionContainer = document.getElementById('formSectionContainer')
    const fullForm = document.getElementById('fullFrom')
    const closeButton = document.getElementById('closeButton')

    //Referencias de los elementos del DOM con relación a validar los campos del formulario
    const name = document.getElementById('fullName')
    const email = document.getElementById('email')
    const message = document.getElementById('message')
    const button = document.getElementById('sendForm')
    const form = document.getElementById('form')

    /**
     * Muestra un mensaje de error si el input de nombre está vacío
     */
    const checkName = () => { 
        if ((name as HTMLInputElement).value !== "") { 
            document.getElementById('nameError').classList.add('hidden')
        } else { 
            document.getElementById('nameError').classList.remove('hidden')
        }
    }

    /**
     * Muestra un mensaje de error si el input de email está vacío
     */
    const checkEmail = () => { 
        if ((email as HTMLInputElement).value !== "") { 
            document.getElementById('emailError').classList.add('hidden')
        } else { 
            document.getElementById('emailError').classList.remove('hidden')
        }
    }

   /**
    * Muestra un mensaje de error si el campo de mensaje está vacío
    */ 
    const checkMessage = () => { 
        if ((message as HTMLInputElement).value !== "") { 
            document.getElementById('messageError').classList.add('hidden')
        } else { 
            document.getElementById('messageError').classList.remove('hidden')
        }
    }

     /**
	*	Función que se encarga de mostrar el botón de enviar formulario si todos los campos están completos
	*/
    const checkAllFields = () => { 
        if ((name as HTMLInputElement).value !== "" && (email as HTMLInputElement).value !== "" && (message as HTMLInputElement).value !== "") { 
            button.classList.remove('hidden')
        } else { 
            button.classList.add('hidden')
        }
    }

    //Escucnando todos los eventos de tipo input en los campos para mostrar u ocultar los errores
    name.addEventListener('input', checkName)
    name.addEventListener('input', checkAllFields)
    email.addEventListener('input', checkEmail)
    email.addEventListener('input', checkAllFields)
    message.addEventListener('input', checkMessage)
    message.addEventListener('input', checkAllFields)


   /**
    * Cambia el estado para poder cerrar el formulario
    */
    const closeForm = () => { 
        isContctUsFormOpen.set(false)
    }

    // Escucha los cambios en el átomo(estado) del store y muestra/oculta el diálogo en consecuencia
    isContctUsFormOpen.subscribe(open => {
        if (open) {
            formSectionContainer.classList.remove('hidden')
            setTimeout(() => {
                fullForm.classList.remove('translate-y-full')
                fullForm.classList.add('translate-y-0')
            }, 1)
        } else {
            fullForm.classList.remove('translate-y-0')
            fullForm.classList.add('translate-y-full')
            setTimeout(() => {
                formSectionContainer.classList.add('hidden')
            }, 100)
        }
    })

    //Cierra el formulario cuando se presiona el botón de cerrar
    closeButton.addEventListener('click' , closeForm)


    //Envío del formulario 
    form.addEventListener('submit', (e) => {
        e.preventDefault()

        //Mostrando mensaje de que el formulario se envío satisfactoriamente
        document.getElementById("formSubmittedPopUp").classList.remove('hidden')

        //Mostrando los valores del formulario por consola 
        console.log('Nombre: ', (name as HTMLInputElement).value)
        console.log('Email: ', (email as HTMLInputElement).value)
        console.log('Servicio seleccionado: ', (document.getElementById('selectServices') as HTMLSelectElement).value);
        console.log('Mensaje:', (message as HTMLTextAreaElement).value);

        //Deshabilitando el botón de enviar formulario mientras se muestra el mensaje 
        button.classList.add('disabled')
        button.classList.remove('hover:scale-110')
        button.classList.remove('hover:bg-red-600/60')

        //Cerrando el formulario a los 3 segundos y setteando los inputs por defecto
        setTimeout(() => {
            (name as HTMLInputElement).value = '';
            (email as HTMLInputElement).value = '';
            (message as HTMLTextAreaElement).value = '';
            button.classList.remove('disabled')
            button.classList.add('hover:scale-110')
            button.classList.add('hover:bg-red-600/60')
            document.getElementById("formSubmittedPopUp").classList.add('hidden')
            closeForm()
        }, 3000);
    })

</script>