---
const { title, description } = Astro.props;
---
<div class="flex flex-col items-center pt-16 w-full text-center space-y-2">
	<h2 class="text-lg text-stone-100/80 font-bold">{title}</h2>
	<p class="text-stone-400 text-sm">{description}</p>
</div>