---
import HamburgerMenuIcon from "../../public/icons/HamburgerMenuIcon.astro"
---

<header class="bg-transparent md:bg-slate-950/20 sticky md:shadow-md md:shadow-black/60 md:backdrop-blur-xl top-2 md:mx-5 z-20 rounded-lg">
    <nav class="flex flex-row justify-between items-center py-2 text-center h-16 px-4">
      <!-- Logo dentro de un a href para que cuando se presione, se pueda volver a la página principal -->
        <a class="px-1 items-center justify-center" href="/">
            <img src="/logo.jpeg" alt="Logo de Energy and water" class="md:size-12 size-10 rounded-full" />
        </a>
        <!-- Menú de hamburguesa para dispositivos pequeños -->
        <div class="md:hidden flex items-center">
            <button id="showMenuButton" class="text-stone-300 hover:bg-red-600/20 rounded-lg p-1 transition focus:outline-none">
                <HamburgerMenuIcon class="size-8"/>
            </button>
        </div>
      <!-- Enlaces -->
        <div class="hidden md:flex md:flex-row flex-col space-x-4 justify-center items-center">
            <a href="/" class="bg-slate-900/10 hover:bg-red-600/40 shadow-sm shadow-black backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
                Inicio
            </a>
            <a href="/history" class="bg-slate-900/10 hover:bg-red-600/40 shadow-sm shadow-black backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
                Historia
            </a>
            <a href="/equip" class="bg-slate-900/10 hover:bg-red-600/40 shadow-sm shadow-black  backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
                Equipo
            </a>
            <a href="/faq" class="bg-slate-900/10 hover:bg-red-600/40 shadow-sm shadow-black  backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
                Preguntas Frecuentes
            </a>
            <a href="/contact" class="bg-slate-900/10 hover:bg-red-600/40 shadow-sm shadow-black  backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
                Contacto
            </a>
        </div>
    </nav>
</header>


<script> 
    import { showNavMenu } from "../store"
    const showMenuButton = document.getElementById('showMenuButton')

    const showSideMenu = () => { 
        showNavMenu.set(true)
    }

    showMenuButton.addEventListener('click', showSideMenu)
</script>