---

---

<header class="bg-white/40 sticky backdrop-blur-lg shadow-xl shadow-black/10 top-0 w-full z-10">
  <nav class="flex flex-row justify-between items-center">
    <!--Logo dentro de un a href para que cuando sea presionado, se pueda volver a la página principal -->
    <a class="" href="/">
        <img src="/logo.jpeg" alt="Logo de Energy and water" class="md:size-9 size-8"/>
    </a>
    <div class="flex flex-row">
        <a class="hover:bg-accent-color/90 hover:text-font-accent hover:scale-105 transition p-2" href="/">Inicio</a>
        <a class="hover:bg-accent-color/90 hover:text-font-accent hover:scale-105 transition p-2" href="/history.astro">Historia</a>
        <a class="hover:bg-accent-color/90 hover:text-font-accent hover:scale-105 transition p-2" href="/equip.astro">Equipo</a>
        <a class="hover:bg-accent-color/90 hover:text-font-accent hover:scale-105 transition p-2" href="/faq.astro">Preguntas frecuentes </a>
    </div>
  </nav>
</header>
