---
const { title } = Astro.props
---
<h2 class="text-white text-2xl sm:text-3xl font-extrabold text-wrap text-center"><span class="bg-gradient-to-r from-stone-300 via-stone-300 to-stone-300 text-transparent bg-clip-text">{title}</span></h2>