---
const { title } = Astro.props
---
<h2 class="text-white text-2xl sm:text-3xl font-extrabold text-wrap"><span class="bg-gradient-to-r from-slate-700 via-white to-slate-700 text-transparent bg-clip-text">{title}</span></h2>