---
const { title, description, imgURL } = Astro.props;
---
<div class="flex md:flex-row flex-col gap-2 m-8 items-center sm:items-start lg:w-[400px]">
    <img src=`${imgURL}` alt=`Imagen del servicio ${title}` class="w-40 h-72 object-cover rounded-lg">
    <div class="w-full ml-2 sm:space-y-4 space-y-2 text-center sm:text-start">
        <h2 id="serviceTitle" class="text-stone-200 text-lg font-bold">{title}</h2>
        <p class="text-stone-400 text-sm max-w-[300px]">{description}</p>
        <a href="/contact">
            <input type="button" id="btnCotizar" value="Cotizar" class="bg-red-600/30 hover:bg-red-600/60 shadow-sm shadow-black backdrop-blur-md text-stone-300 rounded-xl inline-flex justify-center items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-105 cursor-pointer">
        </a>
    </div>
</div>