---
import CrossIcon from "../../public/icons/CrossIcon.astro";
---
<div id="bgBlack" class="hidden md:hidden bg-black/70 w-screen h-full fixed top-0 right-0 backdrop-blur-sm z-40"></div>
<div id="fullSideMenu" class="md:hidden flex flex-col bg-slate-950/80 backdrop-blur-sm fixed space-y-2 p-4 top-0 -right-[500px] transition-all h-screen z-50 w-[270px] shadow-md shadow-black">
    <button id="crossButton" class="hover:bg-red-600/20 p-1 rounded-lg self-end">
        <CrossIcon class="text-stone-200 size-6"/>
    </button>
    <nav class="flex flex-col gap-4">
        <a href="/" class="bg-slate-900/10 hover:bg-red-600/10 backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Inicio
        </a>
        <a href="/history.astro" class="bg-slate-900/10 hover:bg-red-600/10 backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Historia
        </a>
        <a href="/equip.astro" class="bg-slate-900/10 hover:bg-red-600/10 backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Equipo
        </a>
        <a href="/faq.astro" class="bg-slate-900/10 hover:bg-red-600/10 backdrop-blur-sm text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Preguntas frecuentes
        </a>
    </nav>
</div>

<script>
    import { showNavMenu } from "../store"
    const crossButton = document.getElementById('crossButton')
    const bgBlack = document.getElementById('bgBlack')
    const fullSideMenu = document.getElementById('fullSideMenu')

    showNavMenu.subscribe(open => {
        if (open) { 
            bgBlack.classList.remove('hidden')
            fullSideMenu.classList.remove('-right-[500px]')
            fullSideMenu.classList.add('right-0')
        } else { 
            bgBlack.classList.add('hidden')
            fullSideMenu.classList.add('-right-[500px]')
            fullSideMenu.classList.remove('right-0')
        }
    })


    const hideSideMenu = () => { 
        showNavMenu.set(false)
    }


    crossButton.addEventListener('click', hideSideMenu)
</script>