---
import CrossIcon from "../../public/icons/CrossIcon.astro";
---
<!--Fondo lateral izquierdo que se mustra solo al momento de desplegar el menú lateral -->
<div id="bgBlack" class="hidden md:hidden w-screen h-full fixed top-0 right-0 backdrop-blur-sm z-40"></div>
<!--Menu lateral -->
<div id="fullSideMenu" class="md:hidden flex flex-col bg-slate-950/50 backdrop-blur-xl rounded-tl-xl rounded-bl-xl shadow-md shadow-black fixed space-y-2 p-4 top-0 -right-[500px] transition-all h-screen z-50 w-[300px]">
    <button id="crossButton" class="hover:bg-red-600/20 p-1 rounded-lg self-end">
        <CrossIcon class="text-stone-200 size-8"/>
    </button>
    <nav class="flex flex-col gap-4">
        <a href="/" id="home" class="bg-slate-900/40 hover:bg-red-600/40 backdrop-blur-3xl text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-105 cursor-pointer">
            Inicio
        </a>
        <a href="/history" id="history" class="bg-slate-900/40 hover:bg-red-600/40 backdrop-blur-3xl text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Historia
        </a>
        <a href="/equip" id="equip" class="bg-slate-900/40 hover:bg-red-600/40  backdrop-blur-3xl text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Equipo
        </a>
        <a href="/faq" id="equip" class="bg-slate-900/40 hover:bg-red-600/40  backdrop-blur-3xl text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Preguntas frecuentes
        </a>
        <a href="/contact" id="equip" class="bg-slate-900/40 hover:bg-red-600/40  backdrop-blur-3xl text-stone-300 rounded-lg inline-flex justify-start items-center gap-x-2 py-2 px-4 md:py-2 md:px-4 text-sm md:text-base transition font-bold hover:scale-110 cursor-pointer">
            Contacto
        </a>
    </nav>
</div>

<script>
    //Importando el estado para mostrar u ocultar el menu lateral que se muestra en pantallas pequeñas
    import { showNavMenu } from "../store"

    //Referencias de los elemtnos del DOM
    const crossButton = document.getElementById('crossButton')
    const bgBlack = document.getElementById('bgBlack')
    const fullSideMenu = document.getElementById('fullSideMenu')
    
    //Escucha el estado showNavMenu para mostrar u ocultar el menu lateral
    showNavMenu.subscribe(open => {
        if (open) { 
            bgBlack.classList.remove('hidden')
            fullSideMenu.classList.remove('-right-[500px]')
            fullSideMenu.classList.add('right-0')
        } else { 
            bgBlack.classList.add('hidden')
            fullSideMenu.classList.add('-right-[500px]')
            fullSideMenu.classList.remove('right-0')
        }
    })

    //Función que se encarga de cambiar el estado 'showNavMenu' a falso para esconder el menú lateral junto con el fondo de la izquierda
    const hideSideMenu = () => { 
        showNavMenu.set(false)
    }

    crossButton.addEventListener('click', hideSideMenu)
    bgBlack.addEventListener('click', hideSideMenu)
</script>