---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/onest";

import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<!-- Div para el background -->
		<div class="fixed z-[-2] h-full w-full bg-slate-950 bg-[radial-gradient(ellipse_80%_60%_at_50%_-20%,rgba(2,88,136,1),rgba(255,255,255,0))]"></div>
		<Navigation />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
	}
</style>
